* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/*---------------------------------------end of css reset----------------------------------------------*/

.month {
    width: 100vw;
    height: 100vh;
}

.year {
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
}

.mon {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
}

.day {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#jan, #feb, #mar, #apr, #may, #jun {
    display: grid;
    grid-template-columns: repeat(7, 100px [col-start]);
    grid-template-rows: repeat(4, auto); 
}

#jan {
    background: radial-gradient(ellipse at top left, #56c63f,#106c81,  #58f3af), radial-gradient(ellipse at bottom, #58f3af, transparent);
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 6px;
}

#jan div {
    background-color: rgba(255, 255, 255, 0.267) ;
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 10px;
    color:#0b4370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#feb {
    background: radial-gradient(ellipse at top left, #56c63f,#106c81,  #58f3af), radial-gradient(ellipse at bottom, #58f3af, transparent);
}
#feb div {
    background-color: rgba(255, 255, 255, 0.267) ;
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 10px;
    color:#0b4370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mar {
    background: radial-gradient(ellipse at top right, #c78190,#106c81, #81c6b8), radial-gradient(ellipse at bottom, #c78190,#106c81, #81c6b8);
    align-content: start;
    justify-content: center;
    grid-gap: 5px;
}

#mar div {
    background-color: rgba(255, 255, 255, 0.267) ;
    width: 80px;
    height: 100px;
    padding: 0;
    border-radius: 10px;
    color: #a54b71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#apr {
    background: radial-gradient(ellipse at top left, #56c63f,#106c81,  #58f3af), radial-gradient(ellipse at bottom, #58f3af, transparent);
}
#apr div {
    background-color: rgba(255, 255, 255, 0.267) ;
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 10px;
    color:#0b4370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#may {
    background: radial-gradient(ellipse at top left, #56c63f,#106c81,  #58f3af), radial-gradient(ellipse at bottom, #58f3af, transparent);
}
#may div {
    background-color: rgba(255, 255, 255, 0.267) ;
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 10px;
    color:#0b4370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#jun {
    background: radial-gradient(ellipse at top left, #56c63f,#106c81,  #58f3af), radial-gradient(ellipse at bottom, #58f3af, transparent);
}
#jun div {
    background-color: rgba(255, 255, 255, 0.267) ;
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 10px;
    color:#0b4370;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}