* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/*----------------------------------end of css reset-----------------------------------------*/

@font-face {
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: normal;
    src: url('./NeueMachina-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Kaspersky';
    font-style: normal;
    font-weight: normal;
    src: url('./Kaspersky-Regular.ttf') format('truetype');
}

 #root, .month, .cContainer {
    width: 100vw;
    height: 100vh;
}

.year {
    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Kaspersky';
    font-size: 16px;
}

.mon {
    font-family: 'Neue Machina';
    font-size: 20px;
   
}

.day {
    font-size: 28px;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Neue Machina';
    /* font-weight: 800; */
}

/* ---grid months--- */

#jan section, #feb section, #mar section, #apr section, #may section, #jun section {
    display: grid;
    grid-template-columns: repeat(7, 100px [col-start]);
    grid-template-rows: repeat(4, auto); 
}
 
#jan {
    background-image: radial-gradient(ellipse at top left, #56c63f,#106c81), 
                      radial-gradient(ellipse at bottom, #2e58e2, transparent);
}

#jan section {
    display: grid;
    grid-template-columns: repeat(7, 100px [col-start]);
    grid-template-rows: repeat(4, auto); 
   
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}

#jan section div {
    background-color: rgba(255, 255, 255, 0.219) ;
    width: 100px;
    height: 130px;
    padding: 0;
    border:1px solid #0b4370;
    border-radius: 10px;
    color:#0b4370;
    box-shadow: 2px 2px 5px #106c81;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}

#feb { 
    background: radial-gradient(circle at right, #d9b5bb, #c18e96,#c48944, #012356);
}

#feb section {
   
    grid-template-columns: repeat(7, 200px [col-start]);
    grid-template-rows: repeat(4, auto); 
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
}
#feb section div {
    background-color: rgba(71, 142, 201, 0.267) ;
    background: radial-gradient(rgba(71, 142, 201, 0.452),transparent 70%  );
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 50%;
    color:#010920;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mar {
    background: radial-gradient(ellipse at top right, #c78190,#106c81, #81c6b8), radial-gradient(ellipse at bottom, #c78190,#106c81, #81c6b8);
}

#mar section {
    grid-template-columns: repeat(7, 130px [col-start]);
    grid-template-rows: repeat(4, 150px);
    justify-items: end;
    align-items: start;
    justify-content: start;
    align-content: end;
    grid-gap: 5px;
}

#mar section div {
    width: 80px;
    height: 150px;
    padding: 0;
    border-radius: 10px;
    color: #a54b71;
    background: #F2CD3A;
    background: -webkit-linear-gradient(45deg, #281659 60%, #E69138 80%, #FFD700 90%);
    background: -moz-linear-gradient(45deg, #281659 60%, #E69138 80%, #FFD700 90%);
    background: linear-gradient(45deg, #281659 60%, #E69138 80%, #FFD700 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

#apr {
    background: linear-gradient( #50bcda,#ecd585,#e98e75, #d18a9a, #a16072);
}

#apr section {
    grid-template-columns: repeat(7, 160px [col-start]);
    grid-template-rows: repeat(4, auto); 
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
}

#apr section div {
    background-color: rgba(255, 255, 255, 0.151) ;
    width: 120px;
    height: 150px;
    padding: 0;
    border: solid 1px white;
    color:white;
    /* box-shadow: 5px 5px #ecd585; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#may {
    background: radial-gradient(ellipse at bottom , #e3aa9f,#e7a96a, #dbbc5d); 
}

#may section {
    grid-template-columns: repeat(7, 130px [col-start]);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#may section div {
    background-color: #55bd9b;
    width: 130px;
    height: 150px;
    padding: 0;
    color:#045da1;
    border: 1px solid #045da1;
    box-shadow: 5px 5px #045da1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#jun {
    background: linear-gradient( #581845, #900c3f, #c70039);
}

#jun section {
    grid-template-rows: repeat(5, 120px);
    align-items: start;
    align-content: end;
    justify-content: center;
    grid-column-gap: 20px;
}

#jun section div {
    background: radial-gradient( #ffc30f, transparent );
    width: 110px;
    height: 110px;
    padding: 0;
    border-radius: 50%;
    border: 4px solid #581845;
    color:#581845;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ---flex months--- */

#jul section, #aug section, #sep section, #nov section{
    display: flex;
}

#jul {
    background: radial-gradient(ellipse at top right, #f9d66b, #fe737c, #fa947c, #fe737c, #f9d66b);
}

#jul section{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#jul section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(#cbe453, #6cc15a);
    color: #fef7db;

    width: 100px;
    height: 100px
}

/* #jul section div:nth-last-child(-n+3) {
    align-self: flex-start;
} */

#aug {
    background: linear-gradient(-90deg, #6d5f90, #ad87ae, #d892af, #fd9f9a, #ffd790);
}

#aug section{
    position: absolute;
    left: 75%;
    transform: translateX(-50%);

    width: 840px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    

}

#aug section div {
    background-color: rgba(255, 255, 255, 0.151) ;
    width: 120px;
    height: 150px;
    padding: 0;
    border: solid 1px rgba(255, 255, 255, 0.493);
    color:white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sep {
    background: radial-gradient(circle at top right, #65312e, #d95232, #f29541, #c2aa3e, #555432, #1a3536);
}

#sep section{

    width: 1000px;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-end;
    align-content: center;
    gap: 10px;
}

#sep section div {
    background-color: rgba(255, 255, 255, 0.103) ;
    width: 120px;
    height: 150px;
    padding: 0;
    color: #e3db9a;
    border: 1px solid #e3db9a;
    box-shadow: 5px 5px #e3db9a;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

